.body {
  background-color: #fafafa;
}
.loginpage_main {
  display: flex;
  margin-top: 10px;
  margin-left: -65px;
}

.loginpage_logo {
  width: 175px;
  margin-top: 25px;
}

.loginpage_rightcomponent {
  width: 350px;
  border: 1px solid #dbdbdb;
  margin-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: white;
}
.loginpage_signin {
  margin-top: 25px;
}
.loginpage_text {
  width: 258px;
  height: 36px;
  margin: 5px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding-left: 10px;
  border-radius: 5px;
}
.loginpage_button {
  width: 270px;
  height: 36px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #0395f0;
  background-color: #0395f0;
  color: white;
  margin-top: 5px;
}
.loginpage_ordiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.loginpage_divider {
  width: 80px;
  height: 0px;
  border: 1px solid #dbdbdb;
  margin-top: 10px;
}
.loginpage_or {
  margin: 0px 10px;
  font-weight: bold;
  color: #8e8e8e;
}
.loginpage_fblogin {
  color: #395185;
  font-weight: bold;
  margin-top: 30px;
}
.loginpage_forgetpassword {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  text-align: center;
}
.loginpage_signoptions {
  height: 56px;
  width: 350px;
  border: 1px solid #dbdbdb;
  background-color: white;
  margin-top: 25px;
  text-align: center;
}
.loginpage_signinopt {
  margin-top: 20px;
}
.loginpage_signupopt {
  margin-top: 20px;
}

.loginpage_downloadsection {
  height: 105px;
  width: 350px;
  text-align: center;
  margin-top: 20px;
}
.loginpage_downloadoption {
  margin-top: 20px;
}
.loginpage_downloadimg {
  margin-top: 5px;
}
